<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722169672929-dar0f35i18rb0nlu9s8bfora4bh46u94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722169672929-dar0f35i18rb0nlu9s8bfora4bh46u94</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>722169672929-11cefkvkjf1jau32d9nscuju8mf71j9e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBcC_QND6a1gwm6bw586Yr39yqrdeqq71c</string>
	<key>GCM_SENDER_ID</key>
	<string>722169672929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.farwa.farwaKhalid</string>
	<key>PROJECT_ID</key>
	<string>farwa-khalid-ebook-novels</string>
	<key>STORAGE_BUCKET</key>
	<string>farwa-khalid-ebook-novels.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722169672929:ios:d390799c15eb5611ff33a0</string>
</dict>
</plist>
